* {
	margin: 0px 0px;
}

/* setting for header*/

header {
	padding: 20px 10px;
	background-color: #f1f1f1;
	overflow: hidden;
}

header a{
	color: black;
	float: left;
	text-align: center;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	line-height: 25px;
	border-radius: 4px;
}

header a.logo{
	font-size: 25px;
	font-weight: bold;
}

header .menu a:hover{
	background-color: #ddd;
	color: black;
}

header .menu a.active{
	background-color: dodgerblue;
	color: white;
}

header .menu{
	float: right;
}

header .btnmenu{
	display: none;
}

/*responsive header*/

@media screen and (max-width: 500px){
	header a{
		float: none;
		display: block;
		text-align: left;
		border-radius: 0px;
	}

	header .menu{
		display: none;
		position: absolute;
		background-color: white;
		min-width: 160px;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}

	header .btnmenu{
		display: block;
		background-color: #f1f1f1;
		padding: 16px;
		font-size: 16px;
		border: none;
	}

	header .dropdown:hover .menu{
		display: block;
	}
}

/* setting for body*/

body .introduction{
	padding: 20px 10px;
}

body .introduction h1{
	margin: 30px 30px;
	font-family: monospace;
	text-decoration: none;
	font-size: 60px;
}

body .introduction p{
	margin: 10px 30px;
	font-family: cursive;
	font-size: 30px;
}

body .responsive{
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 30px 30px;
	display: block;
}

body .responsive p{
	float: left;
	width: 600px;
	margin: 30px 30px;
	font-size: 20px;
	font-family: sans-serif;
}

body .responsive h1{
	font-size: 40px;
	font-family: monospace;
}

body .responsive img{
	float: right;
}

body .album{
	overflow: hidden;
	background-color: white;
	padding: 30px 30px;
}

body .album .album_content{
	margin: 10px 10px;
	display: grid;
	grid-template-columns: repeat(4, 25%);
}

body .album .album_content .photo{
	width: 100%;
	background-color: white;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body .album .album_content .photo .description{
	text-align: center;
	padding: 10px 20px;
}


/*responsive body*/
@media screen and (max-width: 500px){
	body .responsive p{
		margin: 10px 10px;
		width: 100%;
	}

	body .responsive h1{
		margin: 10px 10px;
	}

	body .responsive img{
		margin-top: 10px;
		width: 100%;
	}

	body .album .album_content{
		grid-template-columns: repeat(1, 100%);
	}
}